.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
    color: red;
}
