.App {
    --header_height: 60px;
    padding: 50px 70px;
}

.hw {

}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
}


@media (max-width: 760px) {
    .App {

        padding: 20px 15px;
    }
}