.button {
padding: 8px 20px;
}

.disabled {
    background-color: #CC1439;
    color: white;
}

.secondary {
    background-color: #CC1439;
    color: white;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    background-color: #CC1439;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}


.button{

}
.buttonRed{

}
.buttonDisabled{

}
.buttonSecondary{

}
